.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 83vh;
}

.form {
    width: 400px;
    padding: 30px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.form input[type="text"], .form input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
}

.form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form button[type="button"] {
    background: none !important;
    border: none;
    padding: 0 !important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    margin: auto;
    margin-top: 20px !important;
    min-width: 100%;
}

.form button[type="submit"]:hover {
    background-color: #0062cc;
}

.error {
    margin-bottom: 20px;
    color: #f00;
    font-size: 14px;
    font-weight: bold;
}